@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
.login{
    margin: 40px;
    text-align: center;
      input{
        margin: 15px;
        width: 400px;
        height: 50px;
      }
      button{
        margin: 20px;
        width: 400px;
        height: 80px;
      }
  }
  .home{
      .carouselZone{
        margin-top: 20px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
          .carousel{
            height: 400px;
            width: 80%;
            text-align: center;
            color:white;
            background-color: black;
          }
      }
      .bestText{
        background-color: black;
        color:white;
        text-align: center;            
      }
      .bestZone{
          height: 500px;
          background-color: black;
          display: flex;
          justify-content: space-around;
          align-items: center;
          li{
            color: white;
            text-align: center;
            list-style: none;
            border: 2px solid white;
            width: 300px;
            height: 300px;
          }
      }
  }
  #admin{
    margin-left: 50px;
    width: 100%;
      .title{
        padding-bottom: 15px;
        border-bottom: 2px solid black;
      }
      .admin_sec01{
        list-style-type: none;
        width: 100%;
        min-width: 640px;
        box-sizing: border-box;
        overflow: hidden;
        li{
          margin-top: 50px;
          border: 1px solid #e5e5e5;
          width: 50%;
          box-sizing: border-box;
          float: left;
          padding: 30px;
          .icon{
            width: 62px;
            display: inline-block;
            vertical-align: middle;
          }
          .sec_title{
            font-family: 'Do Hyeon', sans-serif;
            font-size: 2rem;
            display: inline-block;
            padding: 20px;
            vertical-align: middle;
          }
          .sec_num{
            font-size: 2rem;
            display: inline-block;
            vertical-align: middle;
            padding-top: 18px;
            float: right;
          }
        }
      }
    .admin_sec02{
      margin-top: 50px;
      width: 100%;
      height: 250px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 1rem;
      
        .sec_box{
          width: 100%;
          border: 2px solid #e5e5e5;
          grid-gap: 1rem;
        }
        .sec_title{
          margin-left: 12px;
          width: 80%;
          font-size: 1.4rem;
          border-bottom: 1px solid #e5e5e5;
          padding: 10px 5px 10px 10px;
          
        }
        ul{
          list-style-type: none;
          padding: 10px;
          li{
            padding: 10px;
            .sec_count{
              display: inline-block;
              float: right;
              span{
                border-radius: 100%;
                padding: 5px 9px 5px 9px;
                margin-right: 5px;
                background-color: #4b69ad;
                color:white;
              }
            }
          }
        }
    }
      .admin_sec03{
        width: 100%;
        height: 450px;
        margin-top: 70px;
        .sec_box01{
          display: flex;
          height: 150px;
          width: 100%;
          list-style-type: none;
          .sec_box{
            border: 1px solid #e5e5e5;
            padding: 20px;
            height: 120px;
            display: inline-block;
            flex: 1;
            li{
              font-size: 1rem;
            }
            h2{
              font-size: 3rem;
              color: #4b69ad;
              span{
                color:black;
                padding-left: 20px;
              }
            }
          }
        }
        .sec_box02{
          border: 1px solid #e5e5e5;
          height: 150px;
          margin-top: 20px;
          padding: 20px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .admin_sec04{
        width: 100%;
        height: 300px;
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: 1fr 1fr;
          .sec_box{
            border: 2px solid #e5e5e5;
            width: 100%;
            h2{
              padding: 5px 10px 5px 5px;
              border-bottom: 1px solid #e5e5e5;
              margin-bottom: 20px;
              span{
                float: right;
                font-size: 1rem;
              }
            }
            li{
              font-size: 1.5rem;
              list-style-type: none;
              padding: 5px;
              color: #535353;
              span{
                float: right;
              }
            }
          }
      }
  }